<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>QUnit basic example</title>
  <link rel="stylesheet" href="../node_modules/qunit/qunit/qunit.css">
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>

  <script type="text/javascript">
    EmberENV = {
      EXTEND_PROTOTYPES: false
    };
  </script>
  <script type="text/javascript" src="../node_modules/ember-source/dist/ember.debug.js"></script>

  <script type="text/javascript" src="../node_modules/qunit/qunit/qunit.js"></script>

  <script type="text/javascript" src="test_helpers.js"></script>

  <script type="text/javascript">
    TESTING = true;
    Ember.onerror = function() {}
  </script>
  <script src="../dist/ember-model.js"></script>

  <% _.each(files, function(filepath) { %>
  <script type="text/javascript" src="../<%= filepath %>"></script>
  <% }); %>
  <script src="/testem.js"></script>
</body>
</html>
